// to compile...

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

@font-face {
  font-family: Trebuchet;
  src: url(../fonts/trebucbd.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Trebuchet;
  src: url(../fonts/trebuc.ttf);
  font-weight: 400;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  padding: 0;
}

header {
  width: 100%;
  background: #00bff3;
  padding: 30px 0;

  span {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }

  .left-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .header-logo {
      margin-right: 15px;
    }
  }

  .right-block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .tell-number {
      margin-left: 62px;
      font-size: 30px;
    }

    .get-call {
      text-decoration: underline;
      -webkit-text-decoration-style: dotted;
              text-decoration-style: dotted;
      cursor: pointer;
    }

    .social-icons {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      div {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: #fff;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: all, 0.5s;
        transition: all, 0.5s;


        &:first-child {
          margin-left: 0;

        }

        a {
          padding: 0;
          color: #00bff3;
          -webkit-transition: all, .5s;
          transition: all, .5s;
        }

        &:hover {
          background: darken(#00bff3, 5%);

          a {
            color: #fff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  header {
    .right-block {
      .tell-number {
        margin-left: 20px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .container {
    padding: 0 15px;
  }

  header {
    width: 100%;
    background: #00bff3;
    padding: 30px 0;

    .left-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }

    .right-block {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-top: 30px;

      .tell-number {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  header {
    padding: 20px 0;

    .right-block {
      margin-top: 20px;

      .tell-number {
        font-size: 24px;
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  header {
    padding: 20px 0;

    span {
      font-size: 14px;
    }

    .left-block {
      .header-logo {
        img {
          width: 125px;
        }
      }
    }

    .right-block {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

      .social-icons {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 auto;

        div {
          margin-left: 10px;
          width: 30px;
          height: 30px;
          border-radius: 30px;
          background: #fff;
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-transition: all, 0.5s;
          transition: all, 0.5s;


          &:first-child {
            margin-left: 0;

          }

          a {
            padding: 0;
            color: #00bff3;
            -webkit-transition: all, .5s;
            transition: all, .5s;
          }

          &:hover {
            background: darken(#00bff3, 5%);

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.section-banner {
  .container {
    padding: 0 15px;
  }
}

.banner-block {
  background: url(../img/banner.png) no-repeat center / cover;
  .plashka {
    margin-top: 275px;
    margin-left: 28px;
    margin-bottom: 48px;
    width: 230px;
    height: 230px;
    border-radius: 230px;
    background: rgba(255, 235, 59, 0.8);
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Trebuchet;

    h1 {
      font-size: 25px;
      text-align: center;
      font-weight: 700;
    }

    span {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .tour-code {
      font-size: 24px;
      font-weight: 700;
      background: #000;
      color: #fff;
      padding: 0 5px;
      border-radius: 3px;
      margin-top: 5px;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .banner-block {
    .plashka {
      margin-top: 230px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .section-banner {
    .container {
      padding: 0 30px;
    }
  }

  .banner-block {
    .plashka {
      margin-top: 125px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .banner-block {
    .plashka {
      margin-top: 110px;
      margin-left: 20px;
      margin-bottom: 30px;
      width: 150px;
      height: 150px;
      border-radius: 150px;

      h1 {
        font-size: 18px;
      }

      span {
        font-size: 12px;
      }

      .tour-code {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  .banner-block {
    .plashka {
      margin-top: 50px;
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }
}

.aquamarine-hotel {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;

  &__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    h1 {
      margin: 0;
      font-family: Trebuchet;
      font-size: 35px;
      font-weight: 700;
      border-bottom: 1px solid #7f7f7f;
    }

    .stars {
      margin: 0 30px;
    }

    .hotel-price {
      border-bottom: none;
    }
  }

  &__ratings {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 23px;

    div {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    .rating-respond {
      font-size: 14px;
      font-weight: 700;

      a {
        color: #777777;
      }
    }

    .total-rating {
      width: 51px;
      height: 51px;
      background: #00bff3;
      border-radius: 3px;
      margin: 0 30px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-family: Trebuchet;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }

    .hotel__rating {
      margin-right: 20px;

      span {
        font-size: 12px;
        font-weight: 700;
        color: #777777;
        text-transform: uppercase;
      }

      .rating {
        font-size: 18px;
        color: #000;
      }
    }
  }
}

.days-amount__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);

  span {
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
  }

  .days-amount {
    font-family: Trebuchet;
    font-size: 100px;
    font-weight: 400;
    color: #777777;
  }
}

.extrim {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;

  .extrim-block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    img {
      width: 99%;
    }

    .extrim-block__about {
      width: 99%;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 20px;

      .extrim-titile {
        h1 {
          font-family: Trebuchet;
          font-size: 30px;
          font-weight: 700;
          margin: 0;
          border-bottom: 1px solid #ccc;
        }

        span {
          margin-top: 10px;
          font-size: 14px;
          font-weight: 400;
          color: #777;
        }
      }

      .extrim-price {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        margin-top: -30px;

        .extrim-price_now {
          font-family: Trebuchet;
          font-size: 50px;
          font-weight: 700;
        }

        .extrim-price_was {
          font-family: Trebuchet;
          font-size: 20px;
          font-weight: 400;
          color: #777;
          text-decoration: line-through;
          -webkit-text-decoration-color: red;
                  text-decoration-color: red;
          margin-top: -15px;
        }
      }
    }
  }

  .extrim-block_01 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0;
  }

  .extrim-block_02 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 0;
  }
}

@media only screen and (max-width : 1199px) {
  .row {
    margin: 0;
  }

  .days-amount__block {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);

    span {
      font-size: 24px;
    }

    .days-amount {
      font-size: 80px;
    }
  }

  .extrim {
    .extrim-block_01 {
      padding-left: 15px;
    }

    .extrim-block_02 {
      padding-right: 15px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .days-amount__block {
    display: none;
  }

  .extrim {
    margin-top: 20px;

    .extrim-block {
      img {
        width: 100%;
      }

      .extrim-block__about {
        width: 100%;
        margin-top: 15px;

        .extrim-titile {
          h1 {
            font-size: 20px;
          }

          span {
            font-size: 12px;
          }
        }

        .extrim-price {
          margin-top: -15px;

          .extrim-price_now {
            font-size: 30px;
          }

          .extrim-price_was {
            font-size: 15px;
            margin-top: -10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 768px) {
  .aquamarine-hotel {
    margin-top: 20px;

    &__about {
      h1 {
        font-size: 30px;
      }
    }

    &__ratings {
      margin-top: 20px;

      .total-rating {
        width: 45px;
        height: 45px;
        margin: 0 20px;
        font-size: 20px;
      }

      .hotel__rating {
        margin-right: 10px;
      }
    }
  }

  .extrim {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;

    .extrim-block {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width : 567px) {
  .aquamarine-hotel {
    margin-top: 10px;

    &__about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      h1 {
        font-size: 30px;
        margin-top: 10px;
      }

      .stars {
        margin-top: 10px;
      }
    }

    &__ratings {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-top: 20px;

      .total-rating {
        margin: 0 50px;
      }

      .hotel__rating {
        margin-right: 10px;
        margin-top: 10px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
    }
  }

  .extrim {
    .extrim-block {
      .extrim-block__about {
        margin-top: 10px;

        .extrim-titile {
          h1 {
            font-size: 17px;
          }
        }

        .extrim-price {
          margin-top: -10px;

          .extrim-price_now {
            font-size: 24px;
          }

          .extrim-price_was {
            font-size: 12px;
            margin-top: -7px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}
